body{
	margin: 0;
	padding: 0;
}
section{
	background-image: url(../image.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 650px;
	position: relative;
	overflow: hidden;
}

.snow1{
	background-image: url(../snow.png);
	background-repeat: repeat;
	width: 100%;
	height: 650px;
	position: absolute;
	top: 0;
	left: 0;
	animation: animateone 10s infinite linear;	
}
.snow2{
	background-image: url(../snow.png);
	background-repeat: repeat;
	width: 100%;
	height: 650px;
	position: absolute;
	top: 0;
	left: 0;
	animation: animatetwo 10s infinite linear;
	background-size: 300px;	
}
.snow3{
	background-image: url(../snow.png);
	background-repeat: repeat;
	width: 100%;
	height: 650px;
	position: absolute;
	top: 0;
	left: 0;
	animation: animatethree 10s infinite linear;	
	background-size: 800px;	
}
@keyframes animateone{
	0%{
		background-position: 0px 0px; 
	}
	100%{
		background-position: 100px 650px; 
	}
}
@keyframes animatetwo{
	0%{
		background-position: 0px -100px;
	}
	100%{
		background-position: 0px 650px; 
	}
}
@keyframes animatethree{
	0%{
		background-position: 0px 100px; 
	}
	100%{
		background-position: 300px 650px; 
	}
}